<div class="site-intro">
    <% var bgURL; %>
    <!-- Homepage  -->
    <% if (is_home()) { %>
    <% bgURL = theme.site_header_image; %>
    <!-- Article Page  -->
    <% } else if (is_post()) { %>
    <% bgURL = page.header_image || theme.post_header_image || theme.site_header_image; %>
    <!-- 404  -->
    <% } else if (page.layout === "404") { %>
    <% bgURL = theme._404_image || theme.site_header_image; %>
    <!-- About Page -->
    <% } else if (page.layout === "about") { %>
    <% bgURL = theme.about.image || theme.site_header_image; %>
    <% } %>        
    <div class="site-intro-img" style="background-image: url(<%- url_for(bgURL) %>)"></div>
    <div class="site-intro-placeholder"></div>
    <div class="site-intro-meta">
        <!-- Title  -->
        <h1 class="intro-title">
            <!-- Title Page  -->
            <% if (is_home()) { %>
            <%- theme.main_title || config.title%>
            <!-- Article Page  -->
            <% } else if(is_post()) { %>
            <%- truncate(strip_html(page.title), {length: 80, omission: '...'}) || '[Untitled Post]' %>
            <!-- 404 -->
            <% } else if(page.layout === "404") { %>
            <%- page.title || '[404]'%>
            <!-- About Page -->
            <% } else if(page.layout === "about" ) { %>
            <%- page.title || 'About' %>
            <% } %>
        </h1>
        <!-- Subtitle -->
        <p class="intro-subtitle">
            <!-- Home Page  -->
            <% if (is_home()) { %>
            <% if(typeof theme.subtitle === 'string') { %>
                <%- theme.subtitle %>
            <% } %>
            <!-- Article Page  -->
            <% } else if (is_post()) { %>
            <% if(typeof page.subtitle === 'string') { %>
                <%- page.subtitle %>
            <% } %>
            <!-- 404 -->
            <% } else if (page.layout === "404") { %>
                <%- page.description %>
            <% } %>
        </p>
        <!-- Article Page Meta -->
        <% if(is_post()) { %>
            <!-- Article Page Labels  -->
            <% if(page.tags.length) { %>
                <%- partial('base-title-tags', {
                    currPost: page,
                    className: 'post-intro-tags'}) %>
            <% } %>
            <div class="post-intro-meta">
                <span class="post-intro-calander iconfont-archer">&#xe676;</span>
                <span class="post-intro-time"><%- date(page.date, "YYYY/MM/DD") %></span>
            </div>
        <% } %>
    </div>
</div>